<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>getstudentcontroller</servlet-name>
  	<display-name>getstudentcontroller</display-name>
  	<description></description>
  	<servlet-class>firstmavenproject.getstudentcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getstudentcontrol</servlet-name>
  	<display-name>getstudentcontrol</display-name>
  	<description></description>
  	<servlet-class>firstmavenproject.getstudentcontrol</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getstudentcontroller</servlet-name>
  	<url-pattern>/getstudentcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getstudentcontrol</servlet-name>
  	<url-pattern>/getstudent</url-pattern>
  </servlet-mapping>
</web-app>
